@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    transition: all 0.3s ease;
}



/* TITLE OF EACH VIEW */
.page-heading {
    font-size: 1.6rem; /* Adjust the size as needed */
    font-weight: bold;
    margin-bottom: 20px; /* Adds spacing below the heading */
    text-align: center; /* Optional: center-aligns the text */
}
.nav-link i {
    margin-right: 7px; /* Adjust the spacing value as needed */
}


/* Print Styles */
@media print {
    .content{
        page-break-after: always;
    }
    @page {
        size: A4;
        margin: 15mm;
        @bottom-right {
            content: 'page ' counter(page) ' of ' counter(pages);
        }
    }
    body {
        font-family: Arial, sans-serif;
        font: size 10px;
        line-height: 1.2;
    }
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    .left {
        text-align: left;
    }
    .section-break {
        margin-top: 20px;
    }
    .table-borderless {
        border-collapse: collapse;
        width: 100%;
    }
    .table-borderless td {
        padding: 5px;
    }
    hr {
        border: none;
        border-top: 1px solid black;
        margin: 20px 0;
    }
    .signature-line {
        margin-top: 40px;
    }
    /* Custom styles for the Asset Information table */
    td:first-child, th:first-child {
    width: 28%;
    }
    td:nth-child(2), th:nth-child(2) {
        width: 25%;
    }
    td:nth-child(3), th:nth-child(3) {
        width: 25%;
    }
    td:last-child, th:last-child {
    width: 22%;
    }
    /* Custom styles for the User Information table */
    .user-info-table td:first-child {
        width: 50%;
    }
    .user-info-table td:last-child {
        width: 50%; 
    }

}

/* Index page design */
.table-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    position: relative;
}

.table-wrapper {
    width: 100%; /* Full container width */
    overflow-x: auto; /* Allow horizontal scrolling for wide tables */
}

.table {
    width: 100%; /* Stretch table to fit container */
    table-layout: fixed; /* Enforce fixed column widths */
    border-collapse: collapse; /* Merge borders neatly */
    border: 1px solid #ddd; /* Optional: Add borders for styling */
}

.table th, .table td {
    padding: 8px 18px; /* Consistent padding for readability */
    white-space: nowrap; /* Prevent wrapping of text */
    overflow: hidden; /* Hide text that overflows the cell */
    text-overflow: ellipsis; /* Show ellipsis for truncated text */
    vertical-align: middle; /* Vertically align text to the middle */
}

/* Fixed column widths using percentages */
.col-id {
    width: 100px; /* Fixed column width */
}

.col-name {
    width: 200px; /* Fixed column width */
}

.col-description {
    width: 250px; /* Fixed column width */
}

.col-status {
    width: 130px; /* Fixed column width */
}

.col-actions {
    width: 500px; /* Fixed column width */
}


.card-header {
    width: 100%; /* Ensure header takes the full width of the parent */
    padding: 0.75rem 1.25rem; /* Same padding as the default Bootstrap card header */
    box-sizing: border-box; /* Ensure padding does not affect width */
}

.clear-btn {
    min-width: 110px; /* Adjust the width as needed */
    height: 35px;
    margin-top: 2px;
}




/* SIDE BAR */
.bodycontent {
    margin-top: 70px;
}
#content-wrapper {
    margin-left: 250px;
    width: calc(100% - 250px); /* Full width minus the sidebar */
    transition: margin-left 0.3s ease, width 0.3s ease;
}
/* Sidebar toggle button */
#sidebarToggle {
    position: fixed;
    top: 0px; /* Position closer to the top */
    left: 250px; /* Align with expanded sidebar */
    z-index: 1000;
    background-color: #0E2160;
    color: white;
    border: none;
    padding: 14px; /* Increase padding for a larger button */
    cursor: pointer;
    font-size: 1.2rem; /* Increase icon size */
    border-radius: 8px; /* Optional: round the corners */
    transition: left 0.3s ease, top 0.3s ease; /* Smooth transition when toggling */
}
#sidebar {
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0px;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    transition: all 0.3s ease;
    z-index: 1100;
}
#sidebar .menu-label {
    display: inline-block; /* Default display */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#sidebar .nav-link i {
    margin-right: 10px;
}
#sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    margin: 5px 0px; /* Adjust padding for spacing */
    transition: padding 0.3s ease, opacity 0.3s ease; 
}
#sidebar .logo img {
    max-width: 23%; /* Ensure the logo does not overflow */
    height: auto;
    transition: width 0.3s ease; 
}
#sidebar .logo span {
    color: white; /* Ensure text is visible */
    font-weight: bold;
    transition: opacity 0.3s ease; /* Smooth transition for text */
}
/* Sidebar Collapsed */
#sidebar.collapsed {
    width: 63px; /* Adjust this value for the collapsed sidebar width */
}

#sidebar.collapsed + #content-wrapper{
    margin-left: 60px; /* Adjusted for the collapsed sidebar */
    width: calc(100% - 63px); /* Ensure content adjusts to full width */
}

#sidebar.collapsed + #content-wrapper .dashboard-welcome{
    width: calc(100% - 63px); 
}

#sidebar.collapsed .menu-label {
    opacity: 0; /* Hide text */
    visibility: hidden;
    width: 0;
    overflow: hidden; /* Ensure no text is visible */
}

#sidebar.collapsed .nav-link {
    justify-content: center; /* Center the icons when sidebar is collapsed */
}

#sidebar.collapsed .nav-link .menu-label {
    display: none; /* Hide the text labels */
}
#sidebar.collapsed .logo {
    justify-content: left;
}
#sidebar.collapsed .logo img {
    max-width: 19%;  /* Smaller logo size when sidebar is collapsed */
}
#sidebar.collapsed .logo span {
    display: none; /* Hide the text part of the logo */
}
#sidebar.collapsed + #content-wrapper #sidebarToggle {
    left: 0px; /* Adjust to match collapsed sidebar */
}



/* APP NAME */
.dashboard-welcome {
    position: fixed;
    background-color: #0E2160;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 0; /* Remove space between sidebar and banner */
    margin-right: 0;
    width: calc(100% - 250px); /* Ensure it spans the entire width of the content area */
    z-index: 1050;
}
.dashboard-welcome h1 {
    margin: 0;
    font-weight: bold;
}



/* INPUT BOX */
label {
    display: block !important;
}
input, select, .select2-selection--single {
    border-radius: 5px !important;
    border: 1px solid black !important;
    height: 35px !important;
    margin-top: 3px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
input:focus, select:focus, .select2-selection--single:focus {
    border-color: #0E2160;
    box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
}

#availableAssets, #userAssets {
    height: 40vh !important;
}

.button-search {
    height: 35.5px;
    margin-top: 2.5px;
    border-radius: 5px !important;
    border: 1px solid black !important;
}


/* LOGIN BUTTON */
.custom-login-button {
    background-color: #0E2160;
    border-radius: 5px;
}
.custom-login-button:hover {
    background-color: #323b58;
}
/* RESET PASSWORD BUTTON */
.custom-reset-button {
    background-color: #0E2160;
}
.custom-reset-button:hover {
    background-color: #323b58;
}

@media (max-width: 480px) {
    .dashboard-welcome {
        position: fixed;
        background-color: #0E2160;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 0; /* Remove space between sidebar and banner */
        margin-right: 0;
        width: calc(100% - 200px); /* Ensure it spans the entire width of the content area */
        z-index: 1050;
    }
    .dashboard-welcome h1 {
        margin: 0;
        font-weight: bold;
        font-size: 12px;
    }
    /* Sidebar toggle button */
    #sidebarToggle {
        position: fixed;
        top: 0px; /* Position closer to the top */
        left: 250px; /* Align with expanded sidebar */
        z-index: 1000;
        background-color: #0E2160;
        color: white;
        border: none;
        padding: 10.7px; /* Increase padding for a larger button */
        cursor: pointer;
        border-radius: 0px;
        font-size: 8px; /* Increase icon size */
        transition: left 0.3s ease, top 0.3s ease; /* Smooth transition when toggling */
    }
}

@media (max-width: 768px) {
    .dashboard-welcome {
        position: fixed;
        background-color: #0E2160;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 0; /* Remove space between sidebar and banner */
        margin-right: 0;
        width: calc(100% - 200px); /* Ensure it spans the entire width of the content area */
        z-index: 1050;
    }
    .dashboard-welcome h1 {
        margin: 0;
        font-weight: bold;
        font-size: 20px;
    }
    /* Sidebar toggle button */
    #sidebarToggle {
        position: fixed;
        top: 0px; /* Position closer to the top */
        left: 250px; /* Align with expanded sidebar */
        z-index: 1000;
        background-color: #0E2160;
        color: white;
        border: none;
        padding: 10.7px; /* Increase padding for a larger button */
        cursor: pointer;
        border-radius: 0px;
        font-size: 15px; /* Increase icon size */
        transition: left 0.3s ease, top 0.3s ease; /* Smooth transition when toggling */
    }
}

@media (max-width: 1024px) {
    .dashboard-welcome {
        position: fixed;
        background-color: #0E2160;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 0; /* Remove space between sidebar and banner */
        margin-right: 0;
        width: calc(100% - 200px); /* Ensure it spans the entire width of the content area */
        z-index: 1050;
    }
    .dashboard-welcome h1 {
        margin: 0;
        font-weight: bold;
        font-size: 20px;
    }
    /* Sidebar toggle button */
    #sidebarToggle {
        position: fixed;
        top: 0px; /* Position closer to the top */
        left: 250px; /* Align with expanded sidebar */
        z-index: 1000;
        background-color: #0E2160;
        color: white;
        border: none;
        padding: 10.7px; /* Increase padding for a larger button */
        cursor: pointer;
        border-radius: 0px;
        font-size: 15px; /* Increase icon size */
        transition: left 0.3s ease, top 0.3s ease; /* Smooth transition when toggling */
    }
}










